flows.json
[{"id":"1f466bc2.e14d34","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6ca53833.2768a8","type":"ibmiot in","z":"1f466bc2.e14d34","authentication":"apiKey","apiKey":"30fcec75.d25394","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"sivareddy","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":50,"y":140,"wires":[["39e95397.09ee3c","7f83d23e.ba252c","92ad8844.2f1778","db7432f5.0f90b","c7a5bfe4.3f204","3305da38.321116"]]},{"id":"39e95397.09ee3c","type":"debug","z":"1f466bc2.e14d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"92ad8844.2f1778","type":"function","z":"1f466bc2.e14d34","name":"temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":42,"wires":[["39e95397.09ee3c","c1feba21.ff68d8"]]},{"id":"7f83d23e.ba252c","type":"function","z":"1f466bc2.e14d34","name":"humidity","func":"global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":100,"wires":[["39e95397.09ee3c","553c2af5.8cdf04"]]},{"id":"c7a5bfe4.3f204","type":"function","z":"1f466bc2.e14d34","name":"air","func":"global.set('air',msg.payload.air)\nmsg.payload=msg.payload.air\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["39e95397.09ee3c","d78b309.8056fd"]]},{"id":"db7432f5.0f90b","type":"function","z":"1f466bc2.e14d34","name":"ultrosonic","func":"global.set('ultrosonic',msg.payload.ultrosonic)\nmsg.payload=msg.payload.ultrosonic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":180,"wires":[["39e95397.09ee3c","5ba5c1ed.cd1ba"]]},{"id":"3305da38.321116","type":"function","z":"1f466bc2.e14d34","name":"flame","func":"global.set('flame',msg.payload.flame)\nmsg.payload=msg.payload.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":260,"wires":[["39e95397.09ee3c","b65ccd4d.d8dc6"]]},{"id":"553c2af5.8cdf04","type":"ui_gauge","z":"1f466bc2.e14d34","name":"humidity","group":"6d0f4ab5.e4d484","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":100,"wires":[]},{"id":"c1feba21.ff68d8","type":"ui_gauge","z":"1f466bc2.e14d34","name":"temperature","group":"75257359.d9affc","order":0,"width":0,"height":0,"gtype":"donut","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#2e43b8","#ca3838"],"seg1":"","seg2":"","x":520,"y":60,"wires":[]},{"id":"5ba5c1ed.cd1ba","type":"ui_gauge","z":"1f466bc2.e14d34","name":"ultosonic","group":"be813b0b.b66928","order":1,"width":0,"height":0,"gtype":"donut","title":"ultrosonic","label":"D","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#400080"],"seg1":"","seg2":"","x":500,"y":180,"wires":[]},{"id":"d78b309.8056fd","type":"ui_gauge","z":"1f466bc2.e14d34","name":"air","group":"70e58ecb.d1986","order":2,"width":0,"height":0,"gtype":"donut","title":"air","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":220,"wires":[]},{"id":"b65ccd4d.d8dc6","type":"ui_gauge","z":"1f466bc2.e14d34","name":"flame","group":"97f1c689.0e2c28","order":3,"width":0,"height":0,"gtype":"gage","title":"flame","label":"S","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#c65a20","#ca3838"],"seg1":"","seg2":"","x":490,"y":260,"wires":[]},{"id":"e51771fa.01ba2","type":"ui_button","z":"1f466bc2.e14d34","name":"","group":"9d1cf414.235408","order":0,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"str","topic":"","x":160,"y":300,"wires":[["2ca75919.1a0416","8561163a.ab0688"]]},{"id":"9c92c59c.73e838","type":"ui_button","z":"1f466bc2.e14d34","name":"","group":"a0e0427b.cf658","order":0,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"str","topic":"","x":140,"y":340,"wires":[["2ca75919.1a0416","8561163a.ab0688"]]},{"id":"2ca75919.1a0416","type":"ibmiot out","z":"1f466bc2.e14d34","authentication":"apiKey","apiKey":"30fcec75.d25394","outputType":"cmd","deviceId":"12345","deviceType":"sivareddy","eventCommandType":"event_1","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":340,"wires":[]},{"id":"8561163a.ab0688","type":"debug","z":"1f466bc2.e14d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"524d79e7.600888","type":"http in","z":"1f466bc2.e14d34","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["1d316152.53a41f"]]},{"id":"4daf419d.55962","type":"http response","z":"1f466bc2.e14d34","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"1d316152.53a41f","type":"function","z":"1f466bc2.e14d34","name":"web url","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"ultrosonic\":global.get(\"ultrosonic\"),\"air\":global.get(\"air\"),\"flame\":global.get(\"flame\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["4daf419d.55962"]]},{"id":"d1080487.d4a288","type":"ui_button","z":"1f466bc2.e14d34","name":"","group":"56500199.85b03","order":0,"width":0,"height":0,"passthru":false,"label":"led on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\",\"led on\"}","payloadType":"str","topic":"","x":110,"y":480,"wires":[["6841472b.d673e8","cb102b7e.38fc58"]]},{"id":"9d47a8e0.e159b8","type":"ui_button","z":"1f466bc2.e14d34","name":"","group":"5c1ccbf2.ff6784","order":0,"width":0,"height":0,"passthru":false,"label":"led off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\",\"led off\"}","payloadType":"str","topic":"","x":110,"y":540,"wires":[["cb102b7e.38fc58","6841472b.d673e8"]]},{"id":"cb102b7e.38fc58","type":"ibmiot out","z":"1f466bc2.e14d34","authentication":"apiKey","apiKey":"30fcec75.d25394","outputType":"evt","deviceId":"12345","deviceType":"sivareddy","eventCommandType":"event_1","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":320,"y":540,"wires":[]},{"id":"6841472b.d673e8","type":"debug","z":"1f466bc2.e14d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":500,"wires":[]},{"id":"e4bd0ace.208208","type":"function","z":"1f466bc2.e14d34","name":"app","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["ae7ef45c.74da08"]]},{"id":"64d2123c.f0badc","type":"http in","z":"1f466bc2.e14d34","name":"","url":"/event_1","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["e4bd0ace.208208"]]},{"id":"ae7ef45c.74da08","type":"http response","z":"1f466bc2.e14d34","name":"","statusCode":"","headers":{},"x":510,"y":400,"wires":[]},{"id":"30fcec75.d25394","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"ly0d7t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6d0f4ab5.e4d484","type":"ui_group","z":"","name":"humidity","tab":"bd4fb105.ee75d","order":2,"disp":true,"width":"6","collapse":false},{"id":"75257359.d9affc","type":"ui_group","z":"","name":"temperature","tab":"bd4fb105.ee75d","order":1,"disp":true,"width":"6","collapse":false},{"id":"be813b0b.b66928","type":"ui_group","z":"","name":"ultrasonic","tab":"bd4fb105.ee75d","order":3,"disp":true,"width":"6","collapse":false},{"id":"70e58ecb.d1986","type":"ui_group","z":"","name":"air","tab":"bd4fb105.ee75d","order":4,"disp":true,"width":"6","collapse":false},{"id":"97f1c689.0e2c28","type":"ui_group","z":"","name":"flame","tab":"bd4fb105.ee75d","order":5,"disp":true,"width":"6","collapse":false},{"id":"9d1cf414.235408","type":"ui_group","z":"","name":"motor on","tab":"bd4fb105.ee75d","order":6,"disp":true,"width":"6","collapse":false},{"id":"a0e0427b.cf658","type":"ui_group","z":"","name":"motor off","tab":"bd4fb105.ee75d","order":7,"disp":true,"width":"6","collapse":false},{"id":"56500199.85b03","type":"ui_group","z":"","name":"led on","tab":"bd4fb105.ee75d","order":8,"disp":true,"width":"6","collapse":false},{"id":"5c1ccbf2.ff6784","type":"ui_group","z":"","name":"led off","tab":"bd4fb105.ee75d","order":9,"disp":true,"width":"6","collapse":false},{"id":"bd4fb105.ee75d","type":"ui_tab","z":"","name":"smart animal farm","icon":"dashboard","disabled":false,"hidden":false}]